body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg-fnav{
    background-color: #1E4E94;
}
.footer{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    background-color: #0D8C3C;
    color: white;
}
.inicio{
    display: flex;
    justify-content: center;
}